{% extends 'pages/header.html' %}
{% load static %}
{% block title %} {{Obj.title}} {% endblock %}
{% block link %}
<link rel="stylesheet" href="{% static 'css/post3.css' %}">
{% endblock %}
{% block pageheader %} 
	<!-- PAGE HEADER -->
		<!-- <div id="post-header" class="page-header">
			<div class="page-header-bg" style="background-image: url('./img/header-1.jpg');" data-stellar-background-ratio="0.5"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-10">
						<div class="post-category">
							<a href="category.html">Lifestyle</a>
						</div>
						<h1>Mel ut impetus suscipit tincidunt. Cum id ullum laboramus persequeris.</h1>
						<ul class="post-meta">
							<li><a href="author.html">John Doe</a></li>
							<li>20 April 2018</li>
							<li><i class="fa fa-comments"></i> 3</li>
							<li><i class="fa fa-eye"></i> 807</li>
						</ul>
					</div>
				</div>
			</div>
		</div> -->
	<!-- /PAGE HEADER -->
{% endblock %}

{% block content %}
	<div class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-5">
					<!-- post -->
					<div class="post post-thumb">
						<a class="post-img"><img src="{{Obj.image.url}}" alt=""></a>
						<div class="post-body">
							<div class="post-category">
								<a href="/category/{{Obj.category}}">{{Obj.category}}</a>
							</div>
							<h3 class="post-title title-lg" style="color: white;">{{Obj.title}}</h3>
							<ul class="post-meta">
								<li>{{Obj.time|date:"d-m-Y"}}</li>
							</ul>
						</div>
					</div>
					<!-- /post -->
				</div>
				<div class="col-md-7">
					<div id="detail">
						<h1 style="font-size: 25px;">{{Obj.title}}</h1>
						<strong>( đánh giá)</strong>
						<p>{{Obj.price}} VNĐ</p>
						<ul>
							<li><span>Thể loại :</span><a href="/category/{{Obj.category}}">{{Obj.category}}</a></li>
						</ul>
						<br>
						<span>Số lượng :</span>
						<br>
						{% if user.username %}
							<form action="{% url 'post' post.id %}" method="POST">
								{% csrf_token %}
								<div class="quantity">
									{{formCart.amount}}
								</div>
								<br/><br><br>
								<input type="submit" class="primary-button-new btn1" value="Thêm vào giỏ"/>
							</form>
						{% else %}
							<div class="quantity">
								<input type="number" min="1" step="1" value="1">
							</div>
							<br><br><br>
							<a href="{% url 'sign_in' %}?next={{request.path}}"><button type="button" class="primary-button-new btn1">Thêm vào giỏ</button></a>
						{% endif %}
								<!-- <input type="number" min="1" step="1" value="1"> -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="col-md-7">
					<!-- post share -->
					<div class="section-row">
						<div class="post-share">
							<a class="social-facebook"><i class="fa fa-facebook"></i><span>Share</span></a>
							<a class="social-twitter"><i class="fa fa-twitter"></i><span>Tweet</span></a>
							<a class="social-pinterest"><i class="fa fa-pinterest"></i><span>Pin</span></a>
							<a class="social-email"><i class="fa fa-envelope"></i><span>Email</span></a>
						</div>
					</div>
					<!-- /post share -->

					<!-- post content -->
					<div class="section-row">
						<h3>Ảnh :</h3>
						<figure class="pull-right">
							{% for i in Images.images.all %}
								<img style="border-radius: 5px;" src="{{i.image.url}}" alt="">
								<!-- <figcaption></figcaption> -->
								<br><br>
							{% endfor %}
						</figure>
						<h3>Thông tin chi tiết :</h3>
						<p>{{Obj.info|safe|linebreaks}}</p>
						<h3>Mô tả sản phẩm:</h3>
						<p>{{Obj.description}}</p>
						<h3>Lưu ý : </h3>
						<blockquote class="blockquote">
							<p>{{Obj.note}}</p>
						</blockquote>
					</div>
					<!-- /post content -->

					<!-- post tags -->
					<div class="section-row">
						<div class="post-tags">
							<ul>
								<li>TAGS:</li>
								<li><a href="/category/{{Obj.category}}">{{Obj.category}}</a></li>
							</ul>
						</div>
					</div>
					<!-- /post tags -->

					<!-- post nav -->
					<!-- <div class="section-row">
						<div class="post-nav">
							<div class="prev-post">
								<a class="post-img" href="blog-post.html"><img src="{% static './img/widget-8.jpg' %}" alt=""></a>
								<h3 class="post-title"><a href="#">Sed ut perspiciatis, unde omnis iste natus error sit</a></h3>
								<span>Previous post</span>
							</div>

							<div class="next-post">
								<a class="post-img" href="blog-post.html"><img src="./img/widget-10.jpg" alt=""></a>
								<h3 class="post-title"><a href="#">Postea senserit id eos, vivendo periculis ei qui</a></h3>
								<span>Next post</span>
							</div>
						</div>
					</div> -->
					<!-- /post nav  -->

					<!-- post author -->
					<!-- <div class="section-row">
						<div class="section-title">
							<h3 class="title">About <a href="author.html">John Doe</a></h3>
						</div>
						<div class="author media">
							<div class="media-left">
								<a href="author.html">
									<img class="author-img media-object" src="./img/avatar-1.jpg" alt="">
								</a>
							</div>
							<div class="media-body">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
								<ul class="author-social">
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
									<li><a href="#"><i class="fa fa-instagram"></i></a></li>
								</ul>
							</div>
						</div>
					</div> -->
					<!-- /post author -->

					<!-- post comments -->
					<div class="section-row">
						<div class="section-title">
							<h3 class="title">Bình luận</h3>
						</div>
						<div class="post-comments">
							{% if post.comments.all %}
							{% for comment in post.comments.all %}
								<!-- comment -->
								<div class="media">
									<div class="media-left">
										<img class="media-object" src="{% static './img/avatar-2.jpg' %}" alt="">
									</div>
									<div class="media-body">
										<div class="media-heading">
											<h4>{{comment.author}}</h4>
											<span class="time">{{comment.time}}</span>
										</div>
										<p>{{comment.body|linebreaks}}</p>
										<a href="#" class="reply">Reply</a>
										<!-- comment -->
										<!-- <div class="media media-author">
											<div class="media-left">
												<img class="media-object" src="./img/avatar-1.jpg" alt="">
											</div>
											<div class="media-body">
												<div class="media-heading">
													<h4>John Doe</h4>
													<span class="time">5 min ago</span>
												</div>
												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
												<a href="#" class="reply">Reply</a>
											</div>
										</div> -->
										<!-- /comment -->
									</div>
								</div>
								<!-- /comment -->
							{% endfor %}
							{% else %}
								<p>(Chưa có bình luận nào)</p>
							{% endif %}
						</div>
					</div>
					<!-- /post comments -->

					<!-- post reply -->
					<div class="section-row">
						<div class="section-title">
							<h3 class="title">Viết bình luận</h3>
						</div>
						<form action="{% url 'post' post.id %}" method="POST" class="post-reply" id="form_comment">
							{% csrf_token %}
							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										{{form.body}}
									</div>
								</div>
								<!-- <div class="col-md-4">
									<div class="form-group">
										<input class="input" type="text" name="name" placeholder="Name">
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<input class="input" type="email" name="email" placeholder="Email">
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<input class="input" type="text" name="website" placeholder="Website">
									</div>
								</div> -->
								<div class="col-md-12">
									{% if user.username %}
										<button class="primary-button">Bình luận</button>
									{% else %}
										<a id="alert" class="primary-button">Bình luận</a>
										<br><br>
										<div style="display: none;background-color: #ee4266;color: white;" id="show_alert" class="alert alert-dismissible fade in">
											<a style="color: white;" href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
											<p>Bạn phải đăng nhập để bình luận !</p>
										</div>
									{% endif %}
								</div>
							</div>
						</form>
					</div>
					<!-- /post reply -->

					<!-- /related post -->
					<div>
						<div class="section-title">
							<h3 class="title">Sản phẩm liên quan</h3>
						</div>
						<div class="row">
							{% for i in Involve %}
							<!-- post -->
							<div class="col-md-4">
								<div class="post post-sm">
									<a class="post-img" href="/category/{{i.pk}}"><img src="{{i.image.url}}" alt=""></a>
									<div class="post-body">
										<div class="post-category">
											<a href="/category/{{i.category}}">{{i.category}}</a>
										</div>
										<h3 class="post-title title-sm"><a href="/category/{{i.pk}}">{{i.title}}</a></h3>
										<ul class="post-meta">
											<li><a>{{i.price}}</a></li>
											<li>{{i.time|date:'d-m-Y'}}</li>
										</ul>
									</div>
								</div>
							</div>
							<!-- /post -->
							{% endfor %}
						</div>
					</div>
					<!-- /related post -->

				</div>
				<div class="col-md-5">
					<!-- ad widget-->
					<!-- <div class="aside-widget text-center">
						<a href="#" style="display: inline-block;margin: auto;">
							<img class="img-responsive" src="{% static './img/ad-3.jpg' %}" alt="">
						</a>
					</div> -->
					<!-- /ad widget -->

					<!-- social widget -->
					<div class="aside-widget">
						<div class="section-title">
							<h2 class="title">Liên kết</h2>
						</div>
						<div class="social-widget">
							<ul>
								<li>
									<a href="https://www.facebook.com/profile.php?id=100012933991788" class="social-facebook" target="_blank" rel="noopener noreferrer">
										<i class="fa fa-facebook"></i>
										<span>21.2K<br>Followers</span>
									</a>
								</li>
								<li>
									<a class="social-twitter">
										<i class="fa fa-twitter"></i>
										<span>10.2K<br>Followers</span>
									</a>
								</li>
								<li>
									<a class="social-google-plus">
										<i class="fa fa-google-plus"></i>
										<span>5K<br>Followers</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<!-- /social widget -->

					<!-- category widget -->
					<div class="aside-widget">
						<div class="section-title">
							<h2 class="title">Chủ đề phổ biến</h2>
						</div>
						<div class="category-widget">
							<ul>
								<li><a href="{% url 'custom' %}">Custom <span>{{custom}}</span></a></li>
								<li><a href="{% url 'star_wars' %}">Star Wars <span>{{star_wars}}</span></a></li>
								<li><a href="{% url 'ninjago' %}">Ninjago <span>{{ninjago}}</span></a></li>
								<li><a href="{% url 'cyberpunk' %}">CyberPunk <span>{{cyberpunk}}</span></a></li>
							</ul>
						</div>
					</div>
					<!-- /category widget -->

					<!-- newsletter widget -->
					<!-- <div class="aside-widget">
						<div class="section-title">
							<h2 class="title">Newsletter</h2>
						</div>
						<div class="newsletter-widget">
							<form>
								<p>Nec feugiat nisl pretium fusce id velit ut tortor pretium.</p>
								<input class="input" name="newsletter" placeholder="Enter Your Email">
								<button class="primary-button">Subscribe</button>
							</form>
						</div>
					</div> -->
					<!-- /newsletter widget -->

					<!-- post widget -->
					<div class="aside-widget">
						<div class="section-title">
							<h2 class="title">
								<a >Đang giảm giá <i class="fa fa-caret-right" aria-hidden="true"></i></a>
							</h2>
						</div>
						<!-- post -->
						{% for sale in Sale %}
						<div class="post post-widget">
							<a class="post-img" href="/category/{{sale.pk}}"><img src="{{sale.image.url}}" alt=""></a>
							<div class="post-body">
								<div class="post-category">
									<a href="/category/{{sale.category}}">{{sale.category}}</a>
								</div>
								<h3 class="post-title short_name"><a href="/category/{{sale.pk}}">{{sale.title}}</a></h3>
								<p>{{sale.time | date:"d-m-Y"}}</p>
							</div>
						</div>
						{% endfor %}
						<!-- /post -->
					</div>
					<!-- /post widget -->
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /SECTION -->

	{% include 'pages/footer.html' %}
{% endblock %}


{% block js %}
<script src="{% static 'js/post2.js' %}"></script>
<script>
	$(document).ready(function(){
		$("#alert").click(function(){
		  	$("#show_alert").show();
		});
		$("#id_body").css({"border":"none", "border-bottom":"2px solid #ee4266", "width":"100%"})

		$('#form_comment').on('keyup keypress', function(e) {
			var keyCode = e.keyCode || e.which;
			if (keyCode === 13) { 
			  e.preventDefault();
			  $("#show_alert").show();
			  return false;
			}
		});
		$("#id_amount").attr({"min" : "1", "step" : "1", "value" : "1"})
		$("label").css({"display":"none"})
	});
</script>
{% endblock %}
</body>
</html>
