{% extends 'pages/user.html' %}
{% block title %} Thông tin {% endblock %}
{% block main_content %}
    <div class="section-title">
        <h2 class="title" style="line-height: 25px;">Thông tin cá nhân</h2>
    </div>
    <div class="section-body" style="background-color: #353535;color: #ffffff;padding: 30px;">
        <p><b>Tên đăng nhập : </b><span class="ct">{{user.username}}</span></p>
        <p><b>Tên : </b><span class="ct">{{user.first_name}}</span></p>
        <p><b>Họ : </b><span class="ct">{{user.last_name}}</span></p>
        <p><b>Email : </b><span class="ct">{{user.email}}</span></p>
    </div>
{% endblock %}
